<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/post-list.css">
<script src="/script/my-blog.js" defer></script>
</head>
<%- include('../includes/header.ejs') %>

<section class="post-list">
  <h2>Your posts</h2>
  <% posts.forEach(post => { %>
  <div class="post-item">
    <a href="/blog/<%= post._id %>"><%= post.title %></a> by <%= post.user.email %> <span>
      <button class="button-46" type="button" value="<%= post._id %>">Delete</button>
    </span>
  </div>
  <% }); %>

</section>
<%- include('../includes/footer.ejs') %>