<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/my-blog.css">
</head>
<%- include('../includes/header.ejs') %>
<article class="post-article">
  <section class="post-item">

    <h2><%= post.title %></h2>

    <p class="author">Written by: <%= post.user.email %></p>

    <div class="content">
      <p><%= post.content %></p>
    </div>
</section>
</article>

<%- include('../includes/footer.ejs') %>